@model List<DetailsViewModels>
    @{ 
        Layout = "";
    }
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelitem=>item.Id)</td>
                    <td>@Html.DisplayFor(modelitem=>item.Categories)</td>
                    <td>@Html.DisplayFor(modelitem=>item.CreateDate)</td>
                    <td>@Html.DisplayFor(modelitem=>item.Cost)</td>
                </tr>
            }
        </table>
    </div>
</div>
